h2,h3{
    color: #3a6f9b;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 0;
}
h5{
    color: #335075;
    font-weight: bold;
    margin-top: 0;
}
details, details[open], summary{
    margin-bottom: 0;
    padding-bottom: 0;
}
.tile{
    background: #ffffff;
    width: 100%;
    margin: 0.5% 0;
    padding: 1%;
    box-shadow: 2px 2px 3px #888888;
}
.float{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}
#map_div{
    width: 70%;
}
#map_svg{
    border: 1px solid #cccccc;
    box-shadow: 0 0 8px #cccccc;
    cursor: pointer;
    width: 100%;
}
#LMI_div{
    text-align: left;
}
#LMI{
    margin:0;
    padding:0;
}
#commute_div{
    width: 100%;
}

#comm_tbl_div, #pie_div{
    margin: auto;
}
#info{
    text-align: center;
    width: 28%;
    margin-top: 0;
}