#container {
    /*display: flex; !* or inline-flex *!*/
    /*flex-direction: column;*/
}

/*#det_adv_stats_div{*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content:space-around ;*/
/*}*/
#map_svg{
    margin: 5px;
    border: 1px solid #777777;
    box-shadow: 0 0 5px #ff0000;
}

.float{
    display: inline-flex; /* or inline-flex */
    flex-direction: row;
    justify-content: space-evenly;
}

.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}



/*.tbl  {*/
    /*!*width: 100%;*!*/
/*}*/
/*path.active {*/
/*fill: #ccc;*/
/*cursor: pointer;*/
/*}*/

/*.tbl td:nth-child(2) {*/
    /*width: 40%;*/
/*}*/
/*.tbl td:nth-child(2),*/
/*.tbl td:nth-child(3),*/
/*.tbl td:nth-child(4) {*/
    /*!*width: 20%;*!*/
    /*text-align:center*/
/*}*/
/*.tbl th:nth-child(2),*/
/*.tbl th:nth-child(3),*/
/*.tbl th:nth-child(4) {*/
    /*text-align:center*/
/*}*/

/*.active {*/
    /*fill: orange;*/
/*}*/

/*.fields {*/
    /*text-align: center;*/
/*}*/
